{
    "rules": {
        "indent": [2, 4],
        "quotes": [2, "single"],
        "linebreak-style": [2, "unix"],
        "semi": [2, "always"],
        "brace-style": 2,
        "camelcase": [2, { "properties": "always" }],
        "no-var": 2,
        "no-const-assign": 2,
        "arrow-parens": [2, "always"],
        "arrow-spacing": 2,
        "space-before-function-paren": [2, "never"],
        "no-spaced-func": 2,
        "prefer-template": 2,
        "prefer-const": 1,
        "no-this-before-super": 2,
        "comma-spacing": [2, { "before": false, "after": true }],
        "comma-dangle": [1, "always-multiline"],
        "no-dupe-keys": 2,
        "no-debugger": 2,
        "no-unreachable": 2,
        "valid-jsdoc": 2,
        "require-jsdoc": 1,
        "space-before-blocks": 2,
        "space-infix-ops": 2,
        "keyword-spacing": 2,
        "no-trailing-spaces": 2,
        "max-len": [2, 80, 4, { "ignoreUrls": true, "ignorePattern": "^\\s*const\\s.+=\\s*require\\s*\\(" }],
        "guard-for-in": 2,
        "no-alert": 2,
        "no-throw-literal": 2,
        "object-curly-spacing": [2, "never"],
        "no-array-constructor": 2,
        "no-new-object": 2,
        "no-console": 2,
        "one-var": [2, "never"]
    },
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "root": true
}
